@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tạo một component main */
@layer components {


    .main::-webkit-scrollbar {
       @apply w-[7px];
    }

    .main::-webkit-scrollbar-track {
         @apply bg-slate-300 rounded-lg;
    }
    .main::-webkit-scrollbar-thumb {
        border-radius: 2px;
        @apply bg-slate-500;
    }
    .main::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-900;
    }
    .sidebar::-webkit-scrollbar {
        @apply w-[4px];
    }

    .sidebar::-webkit-scrollbar-track {
        @apply bg-slate-500 rounded-lg;
    }
    .sidebar::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #3C3F56;
    }

    .max-h-menu{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .dark-bg-content{
        background-color: #2F3349;
    }
    .bg-content{
        background-color: white;
    }
    .dark-bg-behind{
        background-color: #25293B;
    }
    .bg-behind{
        background-color: #F8F7FA;
    }
    .dark-text-primary{
        color: #E1DEF5E6;
    }
    .text-primary{
        color: #2F2B3DE6;
    }
    .dark-hover-selected{
        background-color: #3C3F56;
        color: #E1DEF5E6;
    }
    .hover-selected{
        background-color: #F0F0F1;
    }
    .dark-selected{
        background-color: #8278F2;
        color: white;
    }
    .box-shadow-copy{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
    .editor-toolbar-button {
        @apply p-2 py-1 rounded-md hover:hover-selected transition-colors duration-200 text-primary dark:dark-text-primary dark:hover:dark-hover-selected;
    }

    .editor-toolbar-button.active {
        @apply bg-gray-200 text-black;
    }

    .editor-toolbar-button:disabled {
        @apply opacity-50 cursor-not-allowed;
    }
    /* ProseMirror styling */
    .wrapper-tiptap i{
        @apply text-sm;
    }
    .tiptap p {
        @apply my-1;
    }

    .tiptap h1 {
        @apply text-2xl font-bold my-2;
    }

    .tiptap h2 {
        @apply text-xl font-bold my-2;
    }
    .tiptap h3 {
        @apply text-lg font-bold my-2;
    }
    .tiptap ul {
        @apply list-disc pl-6 my-2;
    }

    .tiptap ol {
        @apply list-decimal pl-6 my-2;
    }

    .tiptap blockquote {
        @apply border-l-4 border-gray-300 pl-4 my-4 italic;
    }

    .tiptap pre {
        @apply bg-gray-100 p-4 rounded-md my-2 overflow-x-auto;
    }
}
